body {
	font-family: "Press Start 2P", sans-serif;
}

h1 {
	text-align: center;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 20px;
	padding: 20px;
	justify-items: center;
}
